.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background: #333; */
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar .logo {
    width: 180px;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.dark-nav {
    background-color: #212EA0;
    transition: 0.5s;
}

.menu-icon {
    display: none;
}

@media(max-width: 1000px) {
    .navbar {
        padding-inline: 20px;
    }
    .logo {
        width: 130px;
        padding-left: 20px;
    }
    .navbar ul li {
        margin: 10px 15px;
    }
}

@media(max-width: 970px) {

    .navbar {
        padding: 15px 0;
    }

    .navbar ul {
        position: fixed;
        background-color: #212EA0;
        z-index: -1;
        width: 200px;
        top: 0;
        bottom: 0;
        right: 0;
        padding-top: 70px;       
    }

    .navbar ul li {
        display: block;
        margin: 25px 40px;
    }

    .menu-icon {
        display: block;
        width: 30px;
        cursor: pointer;
        margin-right: 25px;
    }

    .mobile-menu {
        display: none;
    }
      
    .mobile-menu.show-menu {
        display: block;
    }
      
    .mobile-menu.hide-menu {
        display: none;
      }
}


