@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
}

body {
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.navbar {
    padding: 4px 0;
}

.container {
    padding-left: 10%;
    padding-right: 10%;

}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #212121;
    padding: 10px 25px;
    font-size: 16px;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    outline: 0;
}

.btn.dark-btn {
    background-color: #212EA0;
    color: #fff;
}

.btn img {
    width: 20px;
    margin-left: 10px;
    
}

.active {
    position: relative;
    display: inline-block;
    text-align: center;
}

.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    border-bottom: 2px solid #fff;
}

@media(max-width: 1200px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn {
        padding: 10px 22px;
    }
}